@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

body {
  height: 100vh;
  background-color: #FCFDFE;
}
